@import "../node_modules/bootstrap/scss/functions";

$primary: navy;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: 'Courier New', Courier, monospace;
  .hero {
    background: #92b5d9;
    height: 50vh;
    padding: 60px 0;

    h1 {
      color: $primary;
      font-size: 3rem;
      margin: 10% auto;
    }
  }

  #employeeFormSection {
    display: none;
    color: $primary;
    width: 50vw;
    border: $primary solid 2px;
    border-radius: 4px;
    padding: 20px;
    background: #92b5d9;
  }

  #employeeTableSection {
    display: none;
    text-align: center;
    font-size: 20px;
  }
}
