@import "../node_modules/bootstrap/scss/functions";

$primary: navy;

@import "../node_modules/bootstrap/scss/bootstrap";

body {

  .hero {
    background: #f8f9fa;
    padding: 60px 0;

    h1 {
      color:$primary;
      font-size: 3rem;
      margin: 5% auto;
    }
  }
}
